
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}
header{
    height: 10vh;
}
.contenedorHeader{
 padding: 0.5rem;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
}
.fi{
    font-size: 3rem;
}
footer{
    height: 10vh;
    display: flex;
    justify-content: center;
}
main{
    height: 80vh;
    padding: 2rem 1rem;
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

button{
    padding: 0.4rem;
    background-color: rgb(249, 241, 175); 
    border-color: khaki;
    border-style: none;
    color: rgb(86, 83, 83);
    font-weight: bold;
}
button:hover{
    color: darkgoldenrod;
    transform: scale(1.1);
}
article{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
}
ul{
    padding: 0 1rem;
}
li{
    list-style: decimal;
    padding: 0.5rem 0;
}
.volver{
    width: 100%;
    text-decoration: none;
    font-weight: bold;
    padding-top: 2rem;
}
.modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
footer img{
    height: inherit;
}