<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include('../layouts/head') %>
    </head>
<body>
    <header>
        <%-include('../partials/header') %>
    </header>
    <main>
        <h1 align="center"> Estructura BackEnd a completar </h1>
        <p > Modelo MVC desarrollada con Node.js y Express</p>
        <button onclick="location.href='/appUsers'">Ir a la app</button>
    </main>
    <footer>
        <%-include('../partials/footer') %>
    </footer>
</body>
</html>